//mixin
@use "./partials/mixins";

//variabili
@use "./partials/variables";

//immagini
*img {
  max-width: 100%;
}

//liste
*ul {
  padding-left: 0;
  list-style-type: none;
}

//link
*a {
  text-decoration: none;
}
