/*Disposizioni Flex*/
@mixin my-flex-container($type) {
  display: flex;
  @if ($type == "horizontal") {
    flex-direction: row;
  } @else if ($type == "vertical") {
    flex-direction: column;
  }
}
.flex-horizontal {
  @include my-flex-container(horizontal);
}
.flex-vertical {
  @include my-flex-container(vertical);
}

/*Background*/
@mixin my-colored-bg-hazelnut {
  background-color: rgb(233 230 227);
  width: 100%;
}
.bg-hazelnut {
  @include my-colored-bg-hazelnut;
}
@mixin my-colored-bg-vanilla {
  background-color: hsl(0, 0%, 94%);
  width: 100%;
}
.bg-vanilla {
  @include my-colored-bg-vanilla;
}

/*Button*/
@mixin my-button {
  color: white;
  border: 1px solid hsl(170.21deg 68.78% 40.2%);
  border-radius: 5px;
  background-color: hsl(170.21deg 68.78% 40.2%);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}
.my-button {
  @include my-button;
}

/*label*/
@mixin my-label {
  color: white;
  border: 1px solid hsl(170.21deg 68.78% 40.2%);
  border-radius: 5px;
  background-color: hsl(170.21deg 68.78% 40.2%);
  padding: 0.5rem 0.5rem;
}
.label {
  @include my-label;
}

/*Title sezioni*/
@mixin my-section-title($type) {
  > h2 {
    color: hsl(247.14deg 26.58% 30.98%);
    font-weight: bolder;
  }
  > span {
    color: hsl(0deg 0% 41.18%);
  }
  > p {
    color: hsl(250.59deg 10.43% 68.04%);
  }
  @if ($type == "center") {
    text-align: center;
  } @else if ($type == "left") {
    text-align: left;
  }
}
.section-title-center {
  @include my-section-title("center");
}
.section-title-left {
  @include my-section-title("left");
}

/*scritte colorate*/
@mixin my-colored-data($type) {
  @if ($type == "green") {
    color: hsl(170.21deg 68.78% 40.2%);
    font-weight: bolder;
  } @else if($type == "gray") {
    color: hsl(250.59deg 10.43% 68.04%);
  } @else if($type == "darkGray") {
    color: hsl(0deg 0% 41.18%);
  } @else if($type == "blue") {
    color: hsl(247.14deg 26.58% 30.98%);
  }
}
.green-data {
  @include my-colored-data("green");
}
.gray-data {
  @include my-colored-data("gray");
}
.dark-gray-data {
  @include my-colored-data("darkGray");
}
.blue-data {
  @include my-colored-data("blue");
}
